.span3
  %h3 Venue
  = link_to "David's Loft", map_link("Night and Day Dance, 1019 E Cordova St, Vancouver"), target: '_blank'
  %br/
  1019 E Cordova St
  %br/
  Vancouver, BC
  %br/
  Canada
.span3
  = map_image "Night and Day Dance, 1019 E Cordova St, Vancouver"
