.span3
  %h3 Venue
  = link_to "Capoeira Ache Brasil Academy", map_link("Capoeira Ache Brasil Academy, East Broadway, Vancouver, BC, Canada"), target: '_blank'
  %br/
  341 East Broadway
  %br/
  Vancouver, BC
  %br/
  Canada
.span3
  = map_image "Capoeira Ache Brasil Academy, 341 East Broadway, Vancouver, BC, Canada"
