.span3
  %h3 Venue
  = link_to "Russian Hall", map_link("Russian Hall, 600 Campbell Ave, Vancouver, BC, Canada"), target: '_blank'
  %br/
  600 Campbell Ave
  %br/
  Vancouver, BC
  %br/
  Canada
.span3
  = map_image "Russian Hall, 600 Campbell Ave, Vancouver, BC"
