%h1
  Everyone loves a Summer
  %i Blues
  Fling!

%h2
  June 15-17, Vancouver BC. 

.inner
  %h2 Is Blues Fling for me?
  %p Find me in app/views/home/index.html.haml
  %h2 Wiggle
  %p Yay

.inner
  %h2 How about another?
  %p Yay!