.inner
  %h1 Register for Blues Fling III
  %p Passes for Blues Fling III are limited so register as soon as possible to avoid disappointment.

  %center
    = registration_link

  %h2 Pricing
  %table.table.table-striped.table-border
    %tbody
      %tr
        %td Weekend pass
        %td
          $80 for the first 15 early bird registrations and then $100 until online registration closes on the 15th of June.
          %br
          If you leave it until the very last minute, a Weekend pass will cost $120 at the door.
      %tr
        %td Saturday classes only + all dances
        %td $60
      %tr
        %td Sunday classes only + all dances
        %td $60
      %tr
        %td Dance only
        %td $25 for all three evening dances.
      %tr
        %td Individual dances
        %td $10 at the door for each of the Friday, Saturday and Sunday dances.

  %h2 Housing
  %p Housing is not guaranteed and will be given out on a first-come, first-served basis. Please let us know in your registration form if you can be a host or if you can offer housing. Please be specific in the application so that we can best match everybody up. The deadline for housing requests is June 7th.

  %center
    = registration_link

.inner
  %h2 Waiver
  %p By registering you acknowledge that dancing is a sport that has inherent risks which can cause serious injuries. You further agree to hold harmless and indemnify Blues Fling's event organizers, venues, contractors, participants, and representatives from liability from any lawsuit against its event organizers, venues, contractors, participants, and representatives that allege personal injuries or property damage arising out of your alleged negligent conduct or fault or alleged negligent conduct or fault on the part of the event organizers, venues, contractors, participants, and representatives.
