.inner
  %h1 Register for Blues Fling III
  %p Passes for Blues Fling III are limited to register as soon as possible to avoid disappointment.

  %center
    %a.btn.btn-primary.btn-large{ href: '#', disabled: 'disabled' } Register now!

  %h2 Pricing
  %table.table.table-striped.table-border
    %tbody
      %tr
        %td Weekend Pass
        %td $80 for the first 15 early bird registrations, $100 before the 15th of June and $120 on the door.
      %tr
        %td Saturday classes only
        %td $60
      %tr
        %td Sunday classes only
        %td $60
      %tr
        %td Dance Only
        %td $25 for access to all three evening dances.

  %h2 Housing
  %p Housing is not guaranteed and will be given out on a first-come, first-served basis. Please let us know in your registration form if you can be a host or if you can offer housing. Please be specific in the application so that we can best match everybody up. The deadline for housing requests is June 7th.

  %center
    %a.btn.btn-primary.btn-large{ href: '#', disabled: 'disabled' } Register now!

