%h1 The Blues Fling III schedule

.inner
  %h2 Friday, June 15th
  %h3 Party
  %p Ease yourself into the Blues Fling III weekend at our Friday night dance. This is a great opportunity to get to know everybody you'll be dancing with through the weekend and since first impressions count be sure you make a good one!
  %p Location and time to be announced.

.inner
  %h2 Saturday, June 16th
  %h3 Workshops
  %table.table.table-striped
    %tr
      %td 12:00 &mdash; 12:30
      %td Registration and warm-up
    %tr
      %td 12:30 &mdash; 17:30
      %td Four hours of workshops with details still to come.
  %h3 Party
  %p The perfect opportunity to practice what you've learned so far. 
  %p Location and time to be announced.

.inner
  %h2 Sunday, June 17th
  %h3 Workshops
  %table.table.table-striped
    %tr
      %td 12:00 &mdash; 12:30
      %td Registration and warm-up
    %tr
      %td 12:30 &mdash; 17:30
      %td Four hours of workshops with details still to come.
  %h3 Party
  %p The perfect opportunity to practice what you've learned so far. 
  %p Location and time to be announced.
