%h1 The Blues Fling III schedule

.inner
  %h2 Friday, June 15th
  %h3 Party
  %p Ease yourself into the Blues Fling III weekend at our Friday night dance. This is a great opportunity to get to know everybody you'll be dancing with through the weekend and since first impressions count be sure you make a good one!
  %table.table.table-striped
    %tr
      %td{ style: "width: 33%" } 10:00pm &mdash; 3:00am
      %td Location to be announced.

.inner
  %h2 Saturday, June 16th
  %h3 Workshops
  %table.table.table-striped
    %tr
      %td{ style: "width: 33%" } 12:00 &mdash; 12:30
      %td Registration and warm-up
    %tr
      %td{ style: "width: 33%" } 12:30 &mdash; 17:30
      %td Four hours of workshops with details still to come.
  %h3 Party
  %p The perfect opportunity to practice what you've learned so far. 
  %table.table.table-striped
    %tr
      %td{ style: "width: 33%" } 9:00pm &mdash; 3:00am
      %td Location to be announced.

.inner
  %h2 Sunday, June 17th
  %h3 Workshops
  %table.table.table-striped
    %tr
      %td{ style: "width: 33%" } 12:00 &mdash; 12:30
      %td Registration and warm-up
    %tr
      %td{ style: "width: 33%" } 12:30 &mdash; 17:30
      %td Four hours of workshops with details still to come.
  %h3 Party
  %p Unwind after the weekend's lessons and let the music flow through you in the final party for Blues Fling III.
  %table.table.table-striped
    %tr
      %td{ style: "width: 33%" } 9:00pm &mdash; 2:00am
      %td Location to be announced.
