%h1 Private lessons at Blues Fling III

.inner
  %p
    Private lessons with Lucky or Lessa will be available all weekend. Starting at 25 minutes for $40 and 50 minutes for $80. If you would like to sign up for private lessons then #{link_to "register now", '/registration'}!

.inner
  .row
    .span6
      %h3 Availability
      %table.table.table-striped
        %tr
          %td Saturday, June 16th
          %td 10:00am &mdash; 12:00pm, 6:00pm &mdash; 8:00pm
        %tr
          %td Sunday, June 17th
          %td 10:00am &mdash; 12:00pm, 6:00pm &mdash; 8:00pm
    = render 'venue_russian_hall'

  %center
    = registration_link

.inner
  %p
    Late evening lessons may be accommodated at Dianne's home studio near East 2nd Ave and Commercial. If you would like to arrange one of these, please contact us at
    = mail_to "info@bluesfling.ca"

%h2 Schedule
.inner
  %p Here are the private lessons that are already booked. Once you've registered we'll send you a link to edit this document and ask that you put your name in the timeslot(s) that you want.
.inner
  %iframe{ width: "100%", height: 800, frameborder: 0, src: "https://docs.google.com/spreadsheet/pub?key=0AiKTnLOFY9jMdHNoYzFJcUtqWmZtd2RqY2o4R0pvSHc&single=true&gid=0&output=html&widget=true" }
