@import "compass";



// =================
// = Our variables =
// =================

  $bluesflingBackground: #464255;
  $bluesflingFontColour: #BDBDBD;
  $bluesflingHighlightColour: #FF6;
  $bluesflingContentBoxColour: #2A3864;

  $bluesflingBackgroundGreen: rgb(77, 183, 72);
  $bluesflingBackgroundBlue: rgb(46, 46, 129);

  //@import url(http://fonts.googleapis.com/css?family=Mako|Lato|Oxygen|Actor);
  @import url(http://fonts.googleapis.com/css?family=Mako|Actor);

  $fontMako: 'Mako', sans-serif;
//  $fontLato: 'Lato', sans-serif;
//  $fontOxygen: 'Oxygen', sans-serif;
  $fontActor: 'Actor', sans-serif;

  $headerFont: $fontActor;
  $bodyFont: $fontMako;

  @mixin backgroundFlare($backgroundColour, $flareColour, $flarePosition: top center) {
    // This is what I want to do here but it doesn't work.
    // @include background($wishpondHeaderBackground,
    //   linear-gradient(left, rgba($wishpondHeaderFlare, 0) 0%, rgba($wishpondHeaderFlare, 1) 50%, rgba($wishpondHeaderFlare, 0) 100%),
    //   radial-gradient(top center, rgba($wishpondHeaderFlare, 1), rgba($wishpondHeaderFlare, 0)),
    //   image-url("http://devcorp.wishpond.com/images/noise.png")
    // );

    background-color: $backgroundColour;
    @include background-image(linear-gradient(left, rgba($flareColour, 0) 0%, rgba($flareColour, 1) 50%, rgba($flareColour, 0) 100%));
    @include background-image(radial-gradient($flarePosition, rgba($flareColour, 1), rgba($flareColour, 0)));
    // TODO: Add the noise image
  }



// ==================================
// = Overriding Bootstrap variables =
// ==================================

  $baseFontFamily: $fontMako;
  $baseFontSize: 14px;



// ====================
// = Import Bootstrap =
// ====================

  // temporary fix for compass_twitter_bootstrap
  @function e($raw-css) {
    @return #{$raw-css}
  }

  @import "compass_twitter_bootstrap";
  @import "compass_twitter_bootstrap_responsive";



// ===============
// = Body styles =
// ===============

  h1, h2, h3 {
    font-family: $headerFont;
  }

  body > .shade {
    min-height: 400px;
    padding-top: $gridGutterWidth;
    background: asset-data-url('big_shadow.png') repeat-x left top;

    .content {
      h1, h2, h3 {
        color: $bluesflingBackgroundBlue;
      }

      h1 {
        margin-bottom: $gridGutterWidth / 2;
      }

      .inner {
        margin-bottom: $gridGutterWidth;
      }
    }
  }



// =======
// = Nav =
// =======

  header {
    position: relative;
    background-color: $bluesflingBackgroundBlue;
    @include background-image(radial-gradient(bottom center, $bluesflingBackgroundGreen, $bluesflingBackgroundBlue));

    .noise {
      background: asset-url('noise.png', image) repeat left top;
    }

    .dancers {
      margin-top: 20px;
      height: 318px;
      background: asset-url('bf3-web.png', image) no-repeat left top;
      padding-left: 260px;
    }

    h2 {
      padding-top: 80px;
      margin-bottom: 20px;
    }

    h3 {
      display: inline-block;
      color: white;
      padding: 20px;
      background: rgba(#000, 0.7);
      margin: 0;
      @include border-radius(10px);
    }

    &> .shade {
      @include backgroundFlare($bluesflingBackground, lighten($bluesflingBackground, 15%), bottom center);
    }

    .menu {
      width: 100%;
      position: absolute;
      height: 38px;
      bottom: 0;
      background-color: rgba(#000, 0.7);
    }

    ul {
      text-align: center;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
//        width: 80px;
        text-align: center;
        a {
          font-family: $headerFont;
          display: block;
          padding: 10px;
          color: white;
          font-size: 16px;
          line-height: 20px;
          &:hover {
            color: lighten($bluesflingHighlightColour, 10%);
            text-decoration: none;
          }
        }

        &.active {
          a, a:hover {
            color: $bluesflingHighlightColour;
          }
        }
      }
    }
  }


// ==========
// = Footer =
// ==========

  footer {
    @include backgroundFlare($bluesflingContentBoxColour, lighten($bluesflingContentBoxColour, 15%), top);
    
    &> .shade {
      padding: $gridGutterWidth 0 100px 0;
      background: asset-data-url('big_shadow.png') repeat-x left top;
    }

    h4 {
      font-size: 120%;
      line-height: 100%;
      color: $bluesflingHighlightColour;
      margin-bottom: 10px;
    }

    color: white;

    a {
      text-decoration: underline;
    }
    a:hover {
      color: $bluesflingHighlightColour;
    }
  }