// temporary fix for compass_twitter_bootstrap
@function e($raw-css) {
  @return #{$raw-css}
}

@import "compass";

@import "compass_twitter_bootstrap/mixins";

// CSS Reset
@import "compass_twitter_bootstrap/reset";

// Core variables and mixins
@import "compass_twitter_bootstrap/variables"; // Modify this for custom colors, font-sizes, etc

// Grid system and page structure
@import "compass_twitter_bootstrap/scaffolding";
//@import "compass_twitter_bootstrap/grid";
//@import "compass_twitter_bootstrap/layouts";

// Base CSS
@import "compass_twitter_bootstrap/type";
//@import "compass_twitter_bootstrap/code";
@import "compass_twitter_bootstrap/forms";
//@import "compass_twitter_bootstrap/tables";

// Components: common
//@import "compass_twitter_bootstrap/sprites";
//@import "compass_twitter_bootstrap/dropdowns";
//@import "compass_twitter_bootstrap/wells";
//@import "compass_twitter_bootstrap/component-animations";
//@import "compass_twitter_bootstrap/close";

// Components: Buttons & Alerts
@import "compass_twitter_bootstrap/buttons";
//@import "compass_twitter_bootstrap/button-groups";
@import "compass_twitter_bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
//@import "compass_twitter_bootstrap/navs";
//@import "compass_twitter_bootstrap/navbar";
//@import "compass_twitter_bootstrap/breadcrumbs";
//@import "compass_twitter_bootstrap/pagination";
//@import "compass_twitter_bootstrap/pager";

// Components: Popovers
//@import "compass_twitter_bootstrap/modals";
//@import "compass_twitter_bootstrap/tooltip";
//@import "compass_twitter_bootstrap/popovers";

// Components: Misc
//@import "compass_twitter_bootstrap/thumbnails";
@import "compass_twitter_bootstrap/labels";
//@import "compass_twitter_bootstrap/progress-bars";
//@import "compass_twitter_bootstrap/accordion";
//@import "compass_twitter_bootstrap/carousel";
//@import "compass_twitter_bootstrap/hero-unit";

// Utility classes
@import "compass_twitter_bootstrap/utilities"; // Has to be last to override when necessary



// ======================================
// = Now load in our custom form styles =
// ======================================

  body {
    // Set the background image
    background: #fff asset-data-url("registration_background.png") repeat-x left top;
    padding-bottom: 100px;
  }

  body > center {
    // Reset the nasty behaviour of the center element.
    text-align: left;

    // And then make it useful
    @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 10);
    margin-left: auto;
    margin-right: auto;
  }

  #wrapperDiv {
    padding-top: 20px;
  }

  #bodyTitle {
    // Hide the text and use a background logo
    height: 180px;
    margin-bottom: 30px;
    text-indent: -9999px;
    background: asset-url('registration-banner.png', image) no-repeat left top;
  }

  #introduction {
    // Make it big and pretty
  }

  #bookagain {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #returntobooking,  {
    @extend .alert;
    @extend .alert-success;
    @extend .alert-block;
  }

  // Error message
  .errorMessage {
    @extend .alert;
    @extend .alert-danger;
    @extend .alert-block;
  }

  #Addendum {
    margin-top: 50px;
    @extend .alert;
    @extend .alert-info;
    @extend .alert-block;
  }

  .sectionWrapper {
    margin-bottom: 20px;

    .sectionHeaderWrapper {
      @extend h2;
      margin-bottom: 10px;
    }

    &> div {
      clear: both;
      margin-bottom: 5px;
      padding-left: 20px;
    }
    
    & :first-child {
      padding-left: 0;
    }

    .itemdescriptioncell {
      display: inline-block;
      min-width: 200px;
    }

    .inputcell {
      display: inline-block;
      min-width: 300px;
    }

    input[type="input"] {
      height: 28px;
      line-height: 28px;
      margin-bottom: 2px;
      padding: 0 5px;
    }
    
    input[type="submit"] {
      @extend .btn;
      @extend .btn-primary;
      width: 210px;
    }

    input[type="button"] {
      @extend .btn;
    }

    .errorText p {
      color: $errorText;
    }
  }
  
  #info_Individualevents {
    margin-top: 10px;
    margin-bottom: 10px !important;
    p {
      @extend h4;
      span {
        font-weight: normal;
      }
    }
  }

  // Weekend pass
  #row_p18171_TicketType {
    div, span, p {
      font-size: 18px;
    }
  }

  // Submit button wrapper
  #s4144 {
    .sectionHeaderWrapper {
      display: none;
    }
  }
