.hero-unit
  %h1 Blues? Fusion?

.row
  .span8
    %h2
      What is Blues Dancing?

    :plain
      <iframe width="640" height="360" src="http://www.youtube.com/embed/7moOd7Or9Gg?rel=0" frameborder="0" allowfullscreen></iframe>

    %h3
      Have you seen the movie Dirty Dancing? It's like that.

    %p
      Blues dancing is a style of partner dance that began in the early 1900s and has recently re-surged in popularity. It is a street dance, often associated with swing dance, but danced to blues music ranging from lyrical Norah Jones ballads to down and dirty Muddy Waters juke. Because blues dancers often move in close embrace with African hip action and burlesque style-movements the dance earned the nickname "the grind."
    %p
      Modern blues as a dance, focuses on subtle and distilled movements.  As such blues is a dancer's dance. It's not as flashy as other dances, but it is often taken up by Swing, Salsa, Tango and Ballroom dancers looking to deepen their connection and break free of rhythmic assumptions and patterned steps. Most major cities around North America have active blues dancing scenes, with weekly dancing and competitions.

.row
  .span8
    %h2
      What is Fusion Dancing?

    :plain
      <iframe width="480" height="360" src="http://www.youtube.com/embed/ZNegBjAagkk?rel=0" frameborder="0" allowfullscreen></iframe>

    %h3
      Anything you want it to be.

    %p
      Fusion dancing is style of dance that has developed out of blues dancing over the past decade. Instructors began taking the principles of blues dancing and mixing in movements adapted from other dances. In a sense they were "fusing" blues with other dances. At the same time, DJs began injecting modern and in many cases electronic music. The result was the creation of a modern dance style exploding with artistry.
    %p
      Fusion dance prides itself on inclusiveness and expression. Most fusion dancers study multiple genres of movement, but truly everyone is welcome. What has been created is the ultimate free form partner dance environment where salsa dancers dance with swing dancers, boys dance with boys, and hula-hoops are always welcome. It's a circus in here!

.row
  .span8
    %h2
      Where to go from here?

    %p
      For the local events in Vancouver, see
      = link_to "vanblues.com", "http://www.vanblues.com/", target: "_blank"
