.hero-unit
  %h1 Classes

= class_block "c4", "Turning technique 1" do
  %p
    Mastering turns and rotation: Going into hand-to-hand connection is where most dance technique breaks down and a dancers' weakness becomes obvious. If you're in a rut with leading turns or wanting to create smoother transitions and interesting patterns, this class will open up your world. We'll get down to the core how turning while traveling works and then build up through multiple permutations. By the end of this session, your ability to lead and follow any combination of rotations will be expanded.

%hr/

= class_block "c5", "Turning technique 2" do
  %p
    Break the rules about owning your center, Follows!  Learn how to go off-axis in ways that are fun, flashy and still completely safe. Using tools like variations in tone, we’ll fly without leaving the ground and change up the energy and direction of a few basics to create a bevvy of spins that will wow you.  Leads will learn how to control their partner’s axis and turn leverage into speed.

%hr/

= class_block "c3", "Fusion Cliff Notes" do
  %p
    You're new on the fusion scene and don't know where to start. Come peek at the map of all the different paths you can take. You'll leave with a Choose Your Own Adventure manual of how to build your fusion dance.

%hr/

= class_block "c2", "How to dance to electronic music" do
  %p
    Exploding robotic monsters who take over the earth. This is how we dance. Join the force.
  %p
    Adding a partner to a dance traditionally done solo brings with it numerous challenges. Compound that with large dynamic tone changes and complicated, overlapping rhythms typical of dancing to electronic music and you get a truly tough nut to crack. We will address all these issues, giving you a set of tools to match the music and build a framework into which you can shoe-horn partner dancing to this compelling set of genres.
