.hero-unit
  %h1
    Frequently Asked Questions

.row
  .span6
    %h3 Venues
    %p
      Workshops will be taking place at the
      = link_to "Russian Hall", map_link("Russian Hall, 600 Campbell Ave, Vancouver, BC, Canada"), target: '_blank'

    %h3 Hosting
    %p
      We will help people with hosting on a first-come, first-served basis. Register your availability to host or your needs on the registration form and we'll do our best to help you out.

    %h3 Volunteering
    %p
      Discounts are available on your Blues Fling Fusion pass if you help us out with some volunteer work at a rate of
      %strong $20 off per two hour shift.
      Contact
      = link_to "volunteer@bluesfling.ca", "mailto:volunteer@bluesfling.ca"
      and let us know when you're available.

  .span6
    %h3 Workshop schedule
    %p
      We're still working out all the details but we'll update here and post on
      %a{:href => "https://www.facebook.com/BluesFling", target: "_blank"} facebook.com/BluesFling
      as soon as we know. Like us on Facebook to get notified straight away!

    %h3 Music
    %p
      We have a limited number of slots available for guest DJs at our dance parties. If you want to try your hand at providing the tunes, get in touch with us at
      = link_to "info@bluesfling.ca", "mailto:info@bluesfling.ca"

    %h3 Registration
    %p
      There are limited spots available for Blues Fling Fusion so avoid disappointment and register now! Prices start from just $80 for an Early Bird pass.

.row
  .span12
    %center
      = link_to "Register now!", { action: "registration" }, class: "btn btn-large btn-primary"
