.hero-unit
  %h1 Pricing and Registration
  %p Passes for Blues Fling Fusion are limited so register as soon as possible to avoid disappointment.

-#.alert.alert-danger.alert-block
  %h4.alert-heading Registration is currently closed to leads.
  %p We have too many leads registered and are unable to accept any more. This means we will also not be accepting leads registering at the door.

%p
  %center
    = registration_link

%h2 Pricing
%table.table.table-striped.table-border
  %tbody
    %tr
      %td Weekend pass
      %td
        $100 for access to all workshops and dances over the weekend.
        %br
        If you leave it until the very last minute, a Weekend pass will cost $120 at the door.
    %tr
      %td Single day + dances on that day
      %td $60
    %tr
      %td Dance only
      %td $25 for all evening dances.
    %tr
      %td Individual dances
      %td $10 at the door for each of the Saturday and Sunday dances.
    %tr
      %td Blues Fling Fusion + Terminal City Blues
      %td
        Early bird special of $140 for all access passes to both events. After the early bird passes are sold out, the price will go up to $180.

.row
  .span5
    %h2 Housing
    %p
      Housing is not guaranteed and will be given out on a first-come, first-served basis. Please let us know in your registration form if you can be a host or if you can offer housing. Please be specific in the application so that we can best match everybody up. The deadline for housing requests is
      %strong July 19th

  .span5
    %h2 T-shirts
    %p
      Our 100% cotton classic unisex T-shirt is available for $20! Available in sizes S &mdash; XL. There will be a limited quantity available at the event so to ensure you get your size, add it to your order form.

  .span2
    = image_tag asset_url("blues_fling_four/dancers/tshirt.jpg"), class: "img-rounded"

%p
  %center
    = registration_link

