.hero-unit
  %h1 Volunteer

%p
  Discounts are available on your Blues Fling Fusion pass if you help us out with some volunteer work at a rate of
  %strong $20 off per two hour shift.
  Contact
  = link_to "volunteer@bluesfling.ca", "mailto:volunteer@bluesfling.ca"
  for more details.

