.hero-unit
  %h1 Volunteer

.row
  .span6
    %p
      Volunteers are a vital part of the Blues Fling Fusion community, and volunteering is a great way to attend events without burning a hole in your pocket!
    %p
      Volunteers earn $20 per 2 hour shift towards their registration fee. Shifts are available on a first-come-first-served basis, and there is no limit to the number of shifts you can take.
    %p
      For more information on the different volunteer positions available, see below.
  .span6
    %p
      If you're interested in volunteering, check the
      %strong I am interested in volunteering
      box on the registration form, and Abi, our lovely Volunteer Coordinator, will contact you.
    %p
      If you have any questions regarding Blues Fling Fusion volunteering, feel free to contact Abi at
      = mail_to "volunteer@bluesfling.ca"

%h2
  Volunteer Positions

%table.table-striped.table
  %thead
    %tr
      %th{ width: 200 }
        Position
      %th{ width: "*" }
        Responsibilities
      %th{ width: 200 }
        Training
      %th{ width: 200 }
        Time commitment
  %tbody
    %tr
      %td
        Door and registration (workshops)
      %td
        Keeps track of registrations, ensures that people arriving at workshops are registered, takes their money if they owe any. Can't participate in workshops during shift.
      %td
        One meeting at 10:30am Saturday morning. Information will also be provided prior to the event via email.
      %td
        2 hours / shift. 1 credit.

    %tr
      %td
        Runner (workshops)
      %td
        Helps with set up and take down, including transport of equipment if need be. On call to run errands or help out in any other way if necessary during workshops. Can participate in workshops, but must be ready to leave at any time. Access to a car is preferable, but not necessary.
      %td
        Information will be provided prior to the event via email.
      %td
        11am to take-down, non-continuous. 2 credits.

    %tr
      %td
        Door (parties)
      %td
        Watches the door, checks for passes, and collects money if called for. Not set up for registration.
      %td
        Information will be provided prior to the event via email.
      %td
        2 hours / shift. 1 credit.

    %tr
      %td
        Party assistant (parties)
      %td
        Helps with set up and take down, including transport of equipment if need be. On call to run errands or help out in any other way if necessary during the party, but otherwise free to dance as much as they like. We request that party assistants stay sober for the duration of the party. Access to a car is preferable, but not necessary.
      %td
        Information will be provided prior to the event via email.
      %td
        8:30pm to take-down, non-continuous. 2 credits.

